include ./widgets/email.pug

html
    head
        <!-- inject:css -->
        <!-- endinject -->
    body
        h1 Hello, #{example_data}
        +email
 
        <!-- inject:js -->
        <!-- endinject -->